{
    "presets": [],
    "env": {
      "production": {
      }
    },
    "plugins": [
      [
        "@babel/plugin-proposal-decorators",
        {
          "legacy": true
        }
      ]
    ]
}
